__pycache__/
copilot.txt
appunti.md
trascrizione.md
.venv*/
.git
vpn_conf.py
*.conf

# tar extracts during notes 
ELF_files
examples-elf
basc-goodware
shellcoding_files
fmtstr_files
tbg_files
pwn_student_binaries
frida-examples
pin-examples
flappy
bin-exam-2026-01-20

# git assignment 
toppler-Federico-Conti
shellcode-Federico-Conti
exploitation-Federico-Conti
exam-2026-01-20-Federico-Conti

## tools
pin-external-4.1-99687-gd9b8f822c-gcc-linux.tar.gz
pin-external-4.1-99687-gd9b8f822c-gcc-linux